<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>quiz</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>クイズページ</h1>
      </header>

      <main>
        <div class="quiz-container">
          <div id="now-loading">
            <h2>NowLoading...</h2>
          </div>

          <p id="question-container">
          </p>
          
          <div class="quiz-container">
            <ul id="quizzes">
              


            </ul>


          </div>

        </div>
      </main>

      <footer>
        <a href="/">トップページへ</a>
      </footer>
    </div>
    

    <script src="js/main.js"></script>
  </body>
</html>
