<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>top</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>クイズページ</h1>
      </header>

      <main>
        <a href="/quiz" class="top-button">
          <div>
            クイズページへ移動
          </div>
        </a>
      </main>

      <!-- <footer>
      <a href="/">トップページへ</a>
    </footer> -->
    </div>
  </body>
</html>
